[submodule "themes/navy/layout/partial/shared-partials"]
	path = themes/navy/layout/partial/shared-partials
	url = https://github.com/status-im/status.im-partials
[submodule "themes/navy/layout/partial/shared-partials2"]
	path = themes/navy/layout/partial/shared-partials2
	url = git@github.com:status-im/status.im-partials.git
