@import "reset";
@import "formReset";
@import "colors";
@import "fonts";
@import "header";
@import "sidebar";
@import "projects";
@import "popup";
@import "footer";

body {
  font-family: $InterUI;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  color: $colorBlack;
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   background-color: $colorBlack;
}

.home-wrap {
  width: 1200px;
  margin: 0 auto 24px;
}

a {
  text-decoration: none;
  font-weight: 700;
}

.link-arrow {
  color: $colorBlack;
  position: relative;
}

.link-arrow::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0 8px 0 8px;
  top: -2px;
  right: -24px;
  background-image: url(../img/link-arrow.svg);
  transition: transform .2s ease;
  opacity: .4
}

.link-arrow:hover::after{
  transform: translate3d(4px, 0, 0)
}

.button, a.button {
	display: flex;
  align-items: center;
  justify-content: center;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 24px;
  font-weight: 500;
	padding: 9px 24px 8px;
  text-decoration: none;
	background-color: $colorWhite;
  color: $colorBlue;
  box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066);
  border-radius: 20px;
}

.button:hover, a.button:hover {
  background-color: rgba(249, 250, 254, 1);
}

.button.button--blue, a.button.button--blue {
  background-color: $colorBlue;
  color: $colorWhite;
}

.button.button--blue:hover, a.button.button--blue:hover {
  background-color: rgba(58, 86, 210, 1)
}

.main-text {
  color: $colorBlack;
  font-size: 16px;
  line-height: 26px;
}

.secondary-text {
  color: $colorGray;
  font-size: 16px;
  line-height: 26px;
}

h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1em;
}

h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4em;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6em;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6em;
}


h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $colorGray;
  font-weight: 500;
  font-size: 14px;
}

.timestamp {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $colorGray;
  font-weight: 400;
  font-size: 12px;
}

.cards {
  display: flex;
  width: 100%;
}

.cards .card {
  width: 100%;
}

.cards.cards--three {
  flex-wrap: wrap;
}

.cards.cards--three .card {
  width: 33.3%;
}

.cards.cards--three .card-inner {
  margin: 12px;
}

.cards.cards--three .card:nth-child(3n+1) .card-inner { /* 1, 4, 7...*/
  margin-left: 0
}

.cards.cards--three .card:nth-child(3n+3) .card-inner { /* 3, 6, 9...*/
  margin-right: 0
}

.cards.cards--three .card:nth-child(1) .card-inner,
.cards.cards--three .card:nth-child(2) .card-inner,
.cards.cards--three .card:nth-child(3) .card-inner {
  margin-top: 0;
}

.cards.cards--three .card:nth-last-child(3) .card-inner,
.cards.cards--three .card:nth-last-child(2) .card-inner,
.cards.cards--three .card:nth-last-child(1) .card-inner {
  margin-bottom: 0;
}


.section-header {
	margin: 0 auto;
  padding: 0 24px 32px 24px;
  text-align: center;
  max-width: 600px;
}

.section-header h2 {
	padding: 0 0 8px 0;
}

.latest-posts{
  .post{
    margin-bottom: 24px;
    h4{
      a{
        color: #000;
        transition: color .1s ease;
        &:hover{
          color: #4360df;
        }
      }
    }
    time{
      font-weight: normal;
      line-height: normal;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #939BA1;
      margin-bottom: 5px;
      display: block;
    }
  }
}

@media (max-width: 1248px) {

  .home-wrap {
    width: 100%;
  }

}

@media (max-width: 800px) {

  .cards.cards--three .card {
    width: 50%;
  }

  .cards.cards--three .card:nth-child(3n+1) .card-inner { /* 1, 4, 7...*/
    margin: 12px;
  }

  .cards.cards--three .card:nth-child(3n+3) .card-inner { /* 3, 6, 9...*/
    margin: 12px;
  }

  .cards.cards--three .card:nth-child(odd) .card-inner { 
    margin-left: 0
  }

  .cards.cards--three .card:nth-child(even) .card-inner { 
    margin-right: 0
  }

  .cards.cards--three .card:nth-child(1) .card-inner,
  .cards.cards--three .card:nth-child(2) .card-inner {
    margin-top: 0;
  }

  .cards.cards--three .card:nth-child(3) .card-inner {
    margin-top: 12px;
  }

  .cards.cards--three .card:nth-last-child(3) .card-inner,
  .cards.cards--three .card:nth-last-child(2) .card-inner {
    margin-bottom: 0;
  }

  .cards.cards--three .card:nth-last-child(1) .card-inner {
    margin-bottom: 12px;
  }

  .cards.cards--three.cards--three--even .card {
    width: 100%;
  }

  .cards.cards--three.cards--three--even .card:nth-child(odd) .card-inner { 
    margin-left: 0;
    margin-right: 0;
  }

  .cards.cards--three.cards--three--even .card:nth-child(even) .card-inner { 
    margin-right: 0;
    margin-left: 0;
  }

  .cards.cards--three.cards--three--even .card:nth-child(1) .card-inner {
    margin-top: 0;
  }

  .cards.cards--three.cards--three--even .card:nth-child(3) .card-inner,
  .cards.cards--three.cards--three--even .card:nth-child(2) .card-inner {
    margin-top: 12px;
  }

  .cards.cards--three.cards--three--even .card:nth-last-child(3) .card-inner,
  .cards.cards--three.cards--three--even .card:nth-last-child(2) .card-inner {
    margin-bottom: 12px;
  }

  .cards.cards--three.cards--three--even .card:nth-last-child(1) .card-inner {
    margin-bottom: 0;
  }


}

@media (max-width: 520px) {

  .cards.cards--three .card {
    width: 100%;
  }

  .cards.cards--three .card:nth-child(odd) .card-inner { 
    margin-left: 0;
    margin-right: 0;
  }

  .cards.cards--three .card:nth-child(even) .card-inner { 
    margin-right: 0;
    margin-left: 0;
  }

  .cards.cards--three .card:nth-child(1) .card-inner {
    margin-top: 0;
  }

  .cards.cards--three .card:nth-child(3) .card-inner,
  .cards.cards--three .card:nth-child(2) .card-inner {
    margin-top: 12px;
  }

  .cards.cards--three .card:nth-last-child(3) .card-inner,
  .cards.cards--three .card:nth-last-child(2) .card-inner {
    margin-bottom: 12px;
  }

  .cards.cards--three .card:nth-last-child(1) .card-inner {
    margin-bottom: 0;
  }

  .section-header h2 {
    font-size: 23px;
  }


}

/* Code Highlighting */

code.hljs {
  background-color:#EEF2F5;
  padding: 20px 40px;
  font-size:16px;
  line-height:24px;
  border-radius:8px;
}

.hljs-comment,.hljs-quote {
  color:#6b7394
}

.hljs-variable,.hljs-template-variable,.hljs-attribute,.hljs-tag,.hljs-name,.hljs-regexp,.hljs-link,.hljs-name,.hljs-selector-id,.hljs-selector-class {
  color:#c94922
}

.hljs-number,.hljs-meta,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params { 
  color:#c76b29
}

.hljs-string,.hljs-symbol,.hljs-bullet { 
  color:#ac9739
}

.hljs-title,.hljs-section {
  color:#3d8fd1
}

.hljs-keyword,.hljs-selector-tag {
  color:#6679cc
}

.hljs {
  display:block;
  overflow-x:auto;
  background:#f5f7ff;
  color:#5e6687;
  padding:0.5em
}
  
.hljs-emphasis {
  font-style:italic
}

.hljs-strong {
  font-weight:bold
}













