@import "reset";
@import "formReset";
@import "colors";
@import "fonts";
@import "header";
@import "sidebar";
@import "projects";
@import "popup";
@import "footer";

body {
  font-family: $InterUI;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  color: $colorBlack;
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   background-color: $colorBlack;
}

.home-wrap {
  width: 1200px;
  margin: 0 auto 24px;
}

a {
  text-decoration: none;
  color: $colorBlack;
}

.link-arrow {
  color: $colorBlack;
  position: relative;
}

.link-arrow::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0 8px 0 8px;
  top: -2px;
  right: -24px;
  background-image: url(../img/link-arrow.svg);
  transition: transform .2s ease;
  opacity: .4
}

.link-arrow:hover::after{
  transform: translate3d(4px, 0, 0)
}

.button, a.button {
	display: flex;
  align-items: center;
  justify-content: center;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 24px;
  font-weight: 500;
	padding: 9px 24px 8px;
  text-decoration: none;
	background-color: $colorWhite;
  color: $colorBlack;
  box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066);
  border-radius: 20px;
}

.button:hover, a.button:hover {
  background-color: rgba(249, 250, 254, 1);
}

.button.button--black, a.button.button--black {
  background-color: $colorBlack;
  color: $colorWhite;
}

.button.button--black:hover, a.button.button--black:hover {
  background-color: rgba(0,0,0,0.8)
}

.main-text {
  color: $colorBlack;
  font-size: 16px;
  line-height: 26px;
}

.secondary-text {
  color: $colorGray;
  font-size: 16px;
  line-height: 26px;
}

h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1em;
}

h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4em;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6em;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6em;
}


h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $colorGray;
  font-weight: 500;
  font-size: 14px;
}

.timestamp {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $colorGray;
  font-weight: 400;
  font-size: 12px;
}

.latest-posts{
  .post{
    margin-bottom: 24px;
    h4{
      a{
        color: #000;
        transition: color .1s ease;
        &:hover{
          color: #4360df;
        }
      }
    }
    time{
      font-weight: normal;
      line-height: normal;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #939BA1;
      margin-bottom: 5px;
      display: block;
    }
  }
}

@media (max-width: 1248px) {

  .home-wrap {
    width: 100%;
  }

}

/* New styles specific to Merry Merkle */

.intro-wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.intro {
  padding-top: 150px;
  color: #fff;
  text-align: left;
  max-width: 900px;
  width: 100%;
  float: left;
  margin-left: 20px;
}

.intro-pic {
  float: left;
  text-align: right;
  margin-top: 120px;
}

@media (max-width: 1199px) {
  .intro-pic {
    display: none;
  }
}

.intro h1 {
  font-family: $InterUI;
  font-size: 36px;
  padding: 0 0 12px 0;
  font-weight: bold;
  line-height: 42px;
  max-width: 600px;
  width: 100%;
}

.intro p {
  font-family: $InterUI;
  font-size: 16px;
  line-height: 25px;
  opacity: .6;
  padding: 0 0 25px 0;
  max-width: 600px;
  width: 100%;
}

.home-header {
  margin: -136px auto 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 60px 0;
  text-align: center;
  background: #fff;
  border-radius: 5px;
}

.clear {
  clear: both;
}

.clear-margin {
  clear: both;
  margin-top: 100px;
}

.section-header {
  max-width: 1200px;
  background: $colorWhite;
  border-radius: 20px;
  margin-top: 20px;
  padding: 40px;
  min-height: 800px;
}

.section-header h2 {
  max-width: 800px;
  width: 100%;
  margin: 12px auto;
  text-align: center;
}

.section-header p {
  max-width: 600px;
  width: 100%;
  margin: 8px auto;
  color: #8d99a4;
  text-align: left;
  font-size: 16px;
}

.section-cards {
  margin: 80px auto 0 auto;
  max-width: 900px;
}

.card-image {
  float: left;
  width: 50%;
}

.card-image--right {
  text-align: right;
  padding-right: 60px;
}

.card-text {
  float: left;
  width: 50%
}

.section-header .card-text h2 {
  text-align: left;
  max-width: 400px;
  width: 100%;
  margin: 0;
}

.section-header .card-text p {
  max-width: 400px;
  width: 100%;
  margin: 12px 0;
}

.sections {
  background: $colorBg;
  border-radius: 20px;
  padding: 40px;
  margin: 40px 0;
}


@media (max-width: 650px) {
  .intro h1, .intro p {
    max-width: 400px;
  }

  .section-cards {
    margin: 0 auto;
  }

  .card-image {
    width: 100%;
    text-align: center;
    margin: 50px 0;
  }

  .card-text {
    width: 100%;
  }

  .clear-margin {
    margin-top: 50px; 
  }

  .section-header {
    min-height: 1100px;
  }

  .section-header .card-text p {
    max-width: 600px;
  }
}

@media (max-width: 400px) {
  .intro h1, .intro p {
    max-width: 300px;
  }

  .section-header {
    min-height: 1300px;
  }
}
